**Name:** *Priyadharsshini Sakrapani*

The dataset you will be using in this assignment was downloaded from Kaggle (https://www.kaggle.com/datasets/cashncarry/fifa-23-complete-player-dataset) and contains data about players in FIFA 23 (A Soccer/Football video game developed by Electronic Arts(EA)). 

For a better understanding of the dataset, please read the information available at the URL and explore the dataset in this notebook. From here on out we will refer to the sport as soccer, to avoid any confusion. There's no in-depth description of the features, but most of them are intuitive. 

**ID:** Player's unique identifier.

**Name:** Player's abbreviated name.

**FullName:** Player's full name.

**Age:** Player's age.

**Height:** Player's height.

**Weight:** Player's weight.

**Nationality:** Player's nationality.

**Overall:** Player's overall statistics regarding their abilities.

**Potential:** Player's potential. 

**Growth:** Player's growth.

**BestPosition:** Position in the field that a player generally plays.

**Club:** The Club that the player plays for. 

**ValueEUR:** Value in Euro of the player.

**WageEUR:** Wage of the player in Euro.

Note this dataset was last updated in January, so information may be outdated or incorrect. 
Use the following two cells to make sure you are loading the dataset correctly.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_csv('players_fifa23.csv')
df

,ID,Name,FullName,Age,Height,Weight,PhotoUrl,Nationality,Overall,Potential,...,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
0,165153,K. Benzema,Karim Benzema,34,185,81,https://cdn.sofifa.net/players/165/153/23_60.png,France,91,91,...,89,84,89,67,67,67,63,58,63,21
1,158023,L. Messi,Lionel Messi,35,169,67,https://cdn.sofifa.net/players/158/023/23_60.png,Argentina,91,91,...,91,88,91,67,66,67,62,53,62,22
2,231747,K. Mbappé,Kylian Mbappé,23,182,73,https://cdn.sofifa.net/players/231/747/23_60.png,France,91,95,...,92,84,92,70,66,70,66,57,66,21
3,192985,K. De Bruyne,Kevin De Bruyne,31,181,70,https://cdn.sofifa.net/players/192/985/23_60.png,Belgium,91,91,...,91,91,91,82,82,82,78,72,78,24
4,188545,R. Lewandowski,Robert Lewandowski,33,185,81,https://cdn.sofifa.net/players/188/545/23_60.png,Poland,91,91,...,86,83,86,67,69,67,64,63,64,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18355,261899,Chen Keqiang,Keqiang Chen,22,183,70,https://cdn.sofifa.net/players/261/899/23_60.png,China PR,48,54,...,49,50,49,51,52,51,52,52,52,19
18356,271152,M. Furaih,Mohammed Furaih,22,162,60,https://cdn.sofifa.net/players/271/152/23_60.png,Saudi Arabia,48,57,...,50,45,50,39,36,39,37,29,37,17
18357,269578,Ning Hao,Hao Ning,37,175,70,https://cdn.sofifa.net/players/269/578/23_60.png,China PR,48,48,...,48,48,48,47,47,47,46,43,46,18
18358,269577,Feng Zeyuan,Zeyuan Feng,20,181,70,https://cdn.sofifa.net/players/269/577/23_60.png,China PR,48,58,...,47,42,47,36,33,36,35,31,35,15
18359,259649,E. Singh,Engson Singh,19,169,62,https://cdn.sofifa.net/players/259/649/23_60.png,India,48,63,...,49,49,49,44,43,44,43,39,43,14

In [3]:
df.describe()

,ID,Age,Height,Weight,Overall,Potential,Growth,TotalStats,BaseStats,ValueEUR,...,LMRating,CMRating,RMRating,LWBRating,CDMRating,RWBRating,LBRating,CBRating,RBRating,GKRating
count,18360.000000,18360.000000,18360.000000,18360.000000,18360.000000,18360.000000,18360.000000,18360.000000,18360.000000,1.836000e+04,...,18360.000000,18360.000000,18360.000000,18360.000000,18360.000000,18360.000000,18360.000000,18360.000000,18360.000000,18360.000000
mean,236693.153704,25.303540,181.526089,75.139869,65.832680,70.959532,5.126852,1602.493682,357.932026,2.881407e+06,...,58.476906,57.388508,58.476906,56.292266,55.931917,56.292266,55.657789,54.534423,55.657789,23.193900
std,26493.482449,4.693175,6.857984,6.998178,6.802402,6.171324,5.312458,272.296129,39.700131,7.679217e+06,...,13.940940,13.138632,13.940940,13.854138,13.841226,13.854138,14.108821,14.708686,14.108821,15.059682
min,1179.000000,16.000000,155.000000,49.000000,48.000000,48.000000,0.000000,759.000000,224.000000,0.000000e+00,...,18.000000,18.000000,18.000000,17.000000,19.000000,17.000000,17.000000,18.000000,17.000000,10.000000
25%,221466.250000,22.000000,177.000000,70.000000,62.000000,67.000000,0.000000,1470.000000,331.000000,4.750000e+05,...,54.000000,53.000000,54.000000,51.000000,48.000000,51.000000,49.000000,45.000000,49.000000,17.000000
50%,240997.000000,25.000000,182.000000,75.000000,66.000000,71.000000,4.000000,1640.000000,358.000000,9.750000e+05,...,62.000000,60.000000,62.000000,59.000000,59.000000,59.000000,59.000000,58.000000,59.000000,18.000000
75%,258527.250000,29.000000,186.000000,80.000000,70.000000,75.000000,9.000000,1785.000000,385.000000,2.000000e+06,...,67.000000,66.000000,67.000000,66.000000,66.000000,66.000000,65.000000,66.000000,65.000000,20.000000
max,271341.000000,44.000000,206.000000,105.000000,91.000000,95.000000,26.000000,2312.000000,502.000000,1.905000e+08,...,92.000000,91.000000,92.000000,88.000000,89.000000,88.000000,87.000000,90.000000,87.000000,90.000000

## Task 1 - Removing and Creating columns

In [4]:
# QUESTION: Remove all columns to the right of WageEUR as we won't use them in this assignment. #

df = df.loc[:, :'WageEUR']
df.columns

Index(['ID', 'Name', 'FullName', 'Age', 'Height', 'Weight', 'PhotoUrl',
       'Nationality', 'Overall', 'Potential', 'Growth', 'TotalStats',
       'BaseStats', 'Positions', 'BestPosition', 'Club', 'ValueEUR',
       'WageEUR'],
      dtype='object')

In [5]:
# QUESTION: Remove Total Stats, BaseStats, Positions, and PhotoUrl#

df = df.drop(columns=['TotalStats', 'BaseStats', 'Positions', 'PhotoUrl'])
df.columns

Index(['ID', 'Name', 'FullName', 'Age', 'Height', 'Weight', 'Nationality',
       'Overall', 'Potential', 'Growth', 'BestPosition', 'Club', 'ValueEUR',
       'WageEUR'],
      dtype='object')

In [6]:
# QUESTION: Add An additional column labeled as GMValue (General Manager Value), that computes the following equation:  ′𝑂𝑣𝑒𝑟𝑎𝑙𝑙′∗0.9+′𝐺𝑟𝑜𝑤𝑡ℎ′ , 
# where overall and growth are columns present in your dataframe.

df['GMValue'] = df['Overall'] * 0.9 + df['Growth']
df

,ID,Name,FullName,Age,Height,Weight,Nationality,Overall,Potential,Growth,BestPosition,Club,ValueEUR,WageEUR,GMValue
0,165153,K. Benzema,Karim Benzema,34,185,81,France,91,91,0,CF,Real Madrid CF,64000000,450000,81.9
1,158023,L. Messi,Lionel Messi,35,169,67,Argentina,91,91,0,CAM,Paris Saint-Germain,54000000,195000,81.9
2,231747,K. Mbappé,Kylian Mbappé,23,182,73,France,91,95,4,ST,Paris Saint-Germain,190500000,230000,85.9
3,192985,K. De Bruyne,Kevin De Bruyne,31,181,70,Belgium,91,91,0,CM,Manchester City,107500000,350000,81.9
4,188545,R. Lewandowski,Robert Lewandowski,33,185,81,Poland,91,91,0,ST,FC Barcelona,84000000,420000,81.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18355,261899,Chen Keqiang,Keqiang Chen,22,183,70,China PR,48,54,6,CDM,Henan Songshan Longmen FC,70000,1000,49.2
18356,271152,M. Furaih,Mohammed Furaih,22,162,60,Saudi Arabia,48,57,9,CAM,Al Batin,110000,2000,52.2
18357,269578,Ning Hao,Hao Ning,37,175,70,China PR,48,48,0,CAM,Dalian Professional Football Club,15000,1000,43.2
18358,269577,Feng Zeyuan,Zeyuan Feng,20,181,70,China PR,48,58,10,ST,Dalian Professional Football Club,100000,1000,53.2
18359,259649,E. Singh,Engson Singh,19,169,62,India,48,63,15,CAM,ATK Mohun Bagan FC,110000,500,58.2

In [7]:
# QUESTION: Add two other columns, one for first name (label it as FirstName), and one for last name (label it as LastName).

# Using 'string split' to split the 'FullName' using the delimiter (space).
df[['FirstName', 'LastName']] = df['FullName'].str.split(' ', 1, expand=True)
df

,ID,Name,FullName,Age,Height,Weight,Nationality,Overall,Potential,Growth,BestPosition,Club,ValueEUR,WageEUR,GMValue,FirstName,LastName
0,165153,K. Benzema,Karim Benzema,34,185,81,France,91,91,0,CF,Real Madrid CF,64000000,450000,81.9,Karim,Benzema
1,158023,L. Messi,Lionel Messi,35,169,67,Argentina,91,91,0,CAM,Paris Saint-Germain,54000000,195000,81.9,Lionel,Messi
2,231747,K. Mbappé,Kylian Mbappé,23,182,73,France,91,95,4,ST,Paris Saint-Germain,190500000,230000,85.9,Kylian,Mbappé
3,192985,K. De Bruyne,Kevin De Bruyne,31,181,70,Belgium,91,91,0,CM,Manchester City,107500000,350000,81.9,Kevin,De Bruyne
4,188545,R. Lewandowski,Robert Lewandowski,33,185,81,Poland,91,91,0,ST,FC Barcelona,84000000,420000,81.9,Robert,Lewandowski
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18355,261899,Chen Keqiang,Keqiang Chen,22,183,70,China PR,48,54,6,CDM,Henan Songshan Longmen FC,70000,1000,49.2,Keqiang,Chen
18356,271152,M. Furaih,Mohammed Furaih,22,162,60,Saudi Arabia,48,57,9,CAM,Al Batin,110000,2000,52.2,Mohammed,Furaih
18357,269578,Ning Hao,Hao Ning,37,175,70,China PR,48,48,0,CAM,Dalian Professional Football Club,15000,1000,43.2,Hao,Ning
18358,269577,Feng Zeyuan,Zeyuan Feng,20,181,70,China PR,48,58,10,ST,Dalian Professional Football Club,100000,1000,53.2,Zeyuan,Feng
18359,259649,E. Singh,Engson Singh,19,169,62,India,48,63,15,CAM,ATK Mohun Bagan FC,110000,500,58.2,Engson,Singh

In [8]:
# QUESTION: Finally, sort your dataframe using GMValue in descending order #

# Sorting the varibale 'GMValue' in descending order.
df = df.sort_values('GMValue', ascending = False)
df

,ID,Name,FullName,Age,Height,Weight,Nationality,Overall,Potential,Growth,BestPosition,Club,ValueEUR,WageEUR,GMValue,FirstName,LastName
2,231747,K. Mbappé,Kylian Mbappé,23,182,73,France,91,95,4,ST,Paris Saint-Germain,190500000,230000,85.9,Kylian,Mbappé
29,239085,E. Haaland,Erling Haaland,21,195,94,Norway,88,94,6,ST,Manchester City,148000000,220000,85.2,Erling,Haaland
67,251854,Pedri,Pedro González López,19,174,61,Spain,85,93,8,CM,FC Barcelona,116000000,115000,84.5,Pedro,González López
68,237692,P. Foden,Phil Foden,22,171,69,England,85,92,7,CAM,Manchester City,109500000,180000,83.5,Phil,Foden
57,238794,Vinícius Jr.,Vinícius José de Oliveira Júnior,21,176,73,Brazil,86,92,6,LW,Real Madrid CF,109000000,200000,83.4,Vinícius,José de Oliveira Júnior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18138,257936,Song Yue,Yue Song,30,185,84,China PR,51,51,0,CB,Tianjin Jinmen Tiger FC,50000,1000,45.9,Yue,Song
18309,269482,Wang Hanlin,Hanlin Wang,32,180,69,China PR,50,50,0,CDM,Chengdu Rongcheng F.C.,30000,1000,45.0,Hanlin,Wang
18304,269478,Hu Mingtian,Mingtian Hu,27,181,72,China PR,50,50,0,LM,Chengdu Rongcheng F.C.,50000,1000,45.0,Mingtian,Hu
18332,261904,S. Abdusalam,Sabit Abdusalam,28,178,69,China PR,49,49,0,ST,Shijiazhuang Ever Bright F.C.,45000,1000,44.1,Sabit,Abdusalam
18357,269578,Ning Hao,Hao Ning,37,175,70,China PR,48,48,0,CAM,Dalian Professional Football Club,15000,1000,43.2,Hao,Ning

## Task 2 - Aggregating and Summarizing information 
 
1. Who are the top 5 best soccer players (i.e., use attribute *Overall* to determine the best player)?

    **Answer:** <b>Kylian Mbappé, Lionel Messi, Robert Lewandowski, Kevin De Bruyne, Karim Benzema</b>


2. Who are the top 5 best soccer players under the age of 25?

    **Answer:** <b> Kylian Mbappé, Gianluigi Donnarumma, Erling Haaland, Trent Alexander-Arnold, Vinícius José de Oliveira Júnior </b>


3. Who is the tallest player?

    **Answer:** <b> Kyle Hudlin </b>


4. Who is the best player from Canada and what team does he play for? 
    
    **Answer:** <b> 'Alphonso Davies' and he plays for the club 'FC Bayern München'</b>

In [9]:
# QUESTION: Who are the top 5 best soccer players (i.e., use attribute Overall to determine the best player)?

# Using 'nlargest' to return the first 5 rows of 'Overall' which is ordered in descending order.
df.nlargest(5, ['Overall'])

,ID,Name,FullName,Age,Height,Weight,Nationality,Overall,Potential,Growth,BestPosition,Club,ValueEUR,WageEUR,GMValue,FirstName,LastName
2,231747,K. Mbappé,Kylian Mbappé,23,182,73,France,91,95,4,ST,Paris Saint-Germain,190500000,230000,85.9,Kylian,Mbappé
1,158023,L. Messi,Lionel Messi,35,169,67,Argentina,91,91,0,CAM,Paris Saint-Germain,54000000,195000,81.9,Lionel,Messi
4,188545,R. Lewandowski,Robert Lewandowski,33,185,81,Poland,91,91,0,ST,FC Barcelona,84000000,420000,81.9,Robert,Lewandowski
3,192985,K. De Bruyne,Kevin De Bruyne,31,181,70,Belgium,91,91,0,CM,Manchester City,107500000,350000,81.9,Kevin,De Bruyne
0,165153,K. Benzema,Karim Benzema,34,185,81,France,91,91,0,CF,Real Madrid CF,64000000,450000,81.9,Karim,Benzema

In [10]:
# QUESTION: Who are the top 5 best soccer players under the age of 25?

df.loc[(df['Age'] < 25)].sort_values(by=('Overall'), ascending=False).head(5)

,ID,Name,FullName,Age,Height,Weight,Nationality,Overall,Potential,Growth,BestPosition,Club,ValueEUR,WageEUR,GMValue,FirstName,LastName
2,231747,K. Mbappé,Kylian Mbappé,23,182,73,France,91,95,4,ST,Paris Saint-Germain,190500000,230000,85.9,Kylian,Mbappé
28,230621,G. Donnarumma,Gianluigi Donnarumma,23,196,90,Italy,88,92,4,GK,Paris Saint-Germain,103500000,110000,83.2,Gianluigi,Donnarumma
29,239085,E. Haaland,Erling Haaland,21,195,94,Norway,88,94,6,ST,Manchester City,148000000,220000,85.2,Erling,Haaland
39,231281,T. Alexander-Arnold,Trent Alexander-Arnold,23,180,69,England,87,90,3,CM,Liverpool,100500000,150000,81.3,Trent,Alexander-Arnold
57,238794,Vinícius Jr.,Vinícius José de Oliveira Júnior,21,176,73,Brazil,86,92,6,LW,Real Madrid CF,109000000,200000,83.4,Vinícius,José de Oliveira Júnior

In [11]:
df[(df['Age']) < 25].sort_values(by=('Overall'), ascending=False).head(5)

,ID,Name,FullName,Age,Height,Weight,Nationality,Overall,Potential,Growth,BestPosition,Club,ValueEUR,WageEUR,GMValue,FirstName,LastName
2,231747,K. Mbappé,Kylian Mbappé,23,182,73,France,91,95,4,ST,Paris Saint-Germain,190500000,230000,85.9,Kylian,Mbappé
28,230621,G. Donnarumma,Gianluigi Donnarumma,23,196,90,Italy,88,92,4,GK,Paris Saint-Germain,103500000,110000,83.2,Gianluigi,Donnarumma
29,239085,E. Haaland,Erling Haaland,21,195,94,Norway,88,94,6,ST,Manchester City,148000000,220000,85.2,Erling,Haaland
39,231281,T. Alexander-Arnold,Trent Alexander-Arnold,23,180,69,England,87,90,3,CM,Liverpool,100500000,150000,81.3,Trent,Alexander-Arnold
57,238794,Vinícius Jr.,Vinícius José de Oliveira Júnior,21,176,73,Brazil,86,92,6,LW,Real Madrid CF,109000000,200000,83.4,Vinícius,José de Oliveira Júnior

In [12]:
# QUESTION: Who is the tallest player?

# Using 'idxmax' to return the maximum element.
df.loc[df['Height'].idxmax()]

ID                     270513
Name                K. Hudlin
FullName          Kyle Hudlin
Age                        22
Height                    206
Weight                     85
Nationality           England
Overall                    59
Potential                  67
Growth                      8
BestPosition               ST
Club            AFC Wimbledon
ValueEUR               500000
WageEUR                  3000
GMValue                  61.1
FirstName                Kyle
LastName               Hudlin
Name: 15344, dtype: object

In [13]:
df.sort_values('Height', ascending = False).head(1)

,ID,Name,FullName,Age,Height,Weight,Nationality,Overall,Potential,Growth,BestPosition,Club,ValueEUR,WageEUR,GMValue,FirstName,LastName
15344,270513,K. Hudlin,Kyle Hudlin,22,206,85,England,59,67,8,ST,AFC Wimbledon,500000,3000,61.1,Kyle,Hudlin

In [14]:
# QUESTION: Who is the best player from Canada and what team does he play for?

# Using Loc function to index based on 'Nationality',then sorting the 'Overall' in descending order for that Nation
# and using head to retrieve the topmost value.
df.loc[(df['Nationality'] == "Canada")].sort_values(by=('Overall'), ascending=False).head(1)

,ID,Name,FullName,Age,Height,Weight,Nationality,Overall,Potential,Growth,BestPosition,Club,ValueEUR,WageEUR,GMValue,FirstName,LastName
130,234396,A. Davies,Alphonso Davies,21,185,77,Canada,84,89,5,LM,FC Bayern München,60500000,59000,80.6,Alphonso,Davies

## Task 3 - Evaluating groups of players

1. What are the 5 nations with the highest average overall score and that at least 50 players are listed in the dataset?

    **Answer:** <b> Brazil, Czech Republic, Mexico, Portugal, Algeria </b>


2. Which 5 clubs are paying the highest total wage to their players?

    **Answer:** <b>Real Madrid CF, FC Barcelona, Manchester City, Chelsea, Liverpool</b>


3. What is the average potential and average overall score for each group age younger than 19 (including 19 years old players)? Could you find any trend? Please discuss 

    **Answer:** <b>As the age increases, the overall score increases while the potential is almost the same with minor decline</b>

In [15]:
filtered_over_50 = df[(df.groupby(['Nationality']).count()>=50)]

filtered_over_50.sort_values(by = ("Overall", "mean")).head(5)

KeyError: ('Overall', 'mean')

In [ ]:
# What are the 5 nations with the highest average overall score and that at least 50 players are listed in the dataset?

Nation = df.groupby(["Nationality"]).agg({"Overall": ["mean", "count"]}).sort_values(by = ("Overall", "mean"), ascending = False)
Nation[ChelseaNation["Overall", "count"] >= 50].head(5)

In [ ]:
# QUESTION: Which 5 clubs are paying the highest total wage to their players?

# 'Groupby' to group the data based on Club, followed by running an aggregation on that to find the maximum WageEUR 
#  then sorting the in descending order and using 'iloc' to retrieve the first five rows.
agg_dict = {'WageEUR': ['sum']}
df.groupby(['Club']).agg(agg_dict).sort_values(by=('WageEUR', 'sum'), ascending=False).iloc[0:5]

In [ ]:
# QUESTION: What is the average potential and average overall score for each group age younger than 19 
# (including 19 years old players)? Could you find any trend? Please discuss 

# Using 'loc' to retrive the data whose 'Age' is less than or equal to 19, followed by grouping them based on age,
# then calculating the mean of overall and potential.
agg_dict = {'Potential': ['mean'],'Overall': ['mean']}
df.loc[(df['Age'] <= 19)].groupby(['Age']).agg(agg_dict).plot()

## Task 4 - Simple plots

1. Create a scatter plot for players from Canada with the x axis as *Overall* and the y axis as *WageEUR*. By looking at this plot, could you identify some type of relation between the overall attribute and the player's wage? 

**Answer:** <b>The player seems to be paid more as their overall increases</b>


2. Create a bar chart for the average wage per position (use Best Position for a players position). By looking at this plot, what is the position that you would choose to play if you are looking to have the highest probability of having a high wage? 

**Answer:**  <b>I would choose the position 'CF' to earn a high wage </b>

3. Plot a line chart with the x axis as age, and the y axis as the average GMValue. Include only ages 18 to 30. How would you interpret the relation between these two attributes?

**Answer:** <b> As age increases, the GM value decreses.</b>

In [ ]:
# QUESTION: Create a scatter plot for players from Canada with the x axis as *Overall* and the y axis as *WageEUR*. 
# By looking at this plot, could you identify some type of relation between the overall attribute and the player's wage?

df.loc[(df['Nationality'] == "Canada")].plot.scatter(x = 'Overall', y = 'WageEUR', s = 50, label = "Canadian Players");

In [ ]:
# QUESTION: Create a bar chart for the average wage per position (use Best Position for a players position). 
# By looking at this plot, what is the position that you would choose to play if you are looking to have 
# the highest probability of having a high wage? 

fig, axs = plt.subplots(figsize=(10, 10))
agg_dict = {'WageEUR': ['mean']}
df.groupby(['BestPosition']).agg(agg_dict).plot.barh(ax=axs)

In [ ]:
# QUESTION: Plot a line chart with the x axis as age, and the y axis as the average GMValue. Include only ages 18 to 30. How would you interpret the relation between 
# these two attributes?

agg_dict = {'GMValue': ['mean']}
grouped = df.loc[(df['Age'] >= 18) & (df['Age'] <= 30)].groupby(['Age'])
grouped.agg(agg_dict).plot()

## Task 5 - Using plots to answer questions


For all plots below, we are only considering players from England, Germany, Spain, and Argentina (can be retrieved by column *country*).

### Plot 1

1. Create two box plots side by side.

    a. The first should have all the player data with the x axis being the region the player is from. 
    
    b. The second should be a boxplot with the top 5% and bottom 5% of players removed from the dataset (From the 5th-95th percentile). You can use the quantile function to do this. 
    

2. Which country had the best change in overall mean, and which country the worst? Why would these changes occur? (Please include a few sentences)

**Answer:** <b>Argentina had the best change in overall mean and Spain had the worst change in overall mean. Argentina's variance is less and hence the mean is also less. As there was no outliers in Spain before removing the top and bottom 5 and higher variance resulted in bigger change in mean.</b>

In [ ]:
#1. Create two box plots side by side.
    #a. The first should have all the player data with the x axis being the region the player is from. 
    #b. The second should be a boxplot with the top 5% and bottom 5% of players removed from the dataset (From the 5th-95th percentile). You can use the quantile function to do this. 

Nationality=df[(df["Nationality"] == "England") | (df["Nationality"] == "Germany") | (df["Nationality"] == "Spain") | (df["Nationality"] == "Argentina")]

Union=[Nationality[Nationality["Nationality"] == i] for i in Nationality["Nationality"].unique()]
Union=[i[i["Overall"].between(i["Overall"].quantile(.05), i["Overall"].quantile(.95))] for i in df_all]

Removed=pd.concat([i for i in df_all],sort=False)

fig,axs=plt.subplots(1,2, figsize=(20, 8))
axs=axs.flatten() 

Nationality.boxplot(column=['Overall'], by='Nationality',ax=axs[0]) 
Removed.boxplot(column=['Overall'], by='Nationality',ax=axs[1])  

print(Nationality.groupby("Nationality")["Overall"].mean()-Removed.groupby("Nationality")["Overall"].mean())
print(Nationality.groupby("Nationality")["Overall"].var()-Removed.groupby("Nationality")["Overall"].var())

### Plot 2

In this task, we are interested if certain countries are better at producing different kinds of players. For this exercise, we are not interested in the goal keeper. The X axis of your charts should be the Nationality of the player, and the bars should be split by position for each nationality. You can assume that players only play the position defined under BestPosition. You can ignore additional positions that are not defined below.

1. The first plot must be a grouped bar chart for Forwards for each Country. Positions (LW, ST, RW).

**Answer:** <b>England has higher number of ST than other 3 countries, Spain produces the highest number of RW and England the highest LW.</b>


2. The second is a grouped bar chart for Midfielders. Positions (LM, RM, CM)

**Answer:** <b>England has highest number of LM, RM and CM </b>


3. The third plot is a grouped bar chart for Defenders. Positions (LB, RB, CB)

**Answer:** <b>England the highest CB and Spain has most LB and RB</b>


4. The fourth plot is a grouped bar chart except instead of grouping by position, we will group by forwards, midfielders, and defenders. 

**Answer:** <b> - England has the most players in Forwards, Midfielders, Defenders 
    - Argentina has the least number of players in all 3. </b>

In [ ]:
# The first plot must be a grouped bar chart for Forwards for each Country. Positions (LW, ST, RW).

Forward_Position=Nationality[(Nationality["BestPosition"] == "LW") | (Nationality["BestPosition"] == "ST") | (Nationality["BestPosition"] == "RW")].copy()
Forward_Position["Count"]=1
Forward_Position=pd.pivot_table(Forward_Position,values="Count",index=['Nationality'], columns = 'BestPosition',aggfunc="sum")
Forward_Position.plot.bar()

In [ ]:
# The second is a grouped bar chart for Midfielders. Positions (LM, RM, CM)

Mid_Position=Nationality[(Nationality["BestPosition"] == "LM") | (Nationality["BestPosition"] == "RM") | (Nationality["BestPosition"] == "CM")].copy()
Mid_Position["Count"]=1
Mid_Position=pd.pivot_table(Mid_Position,values="Count",index=['Nationality'], columns = 'BestPosition',aggfunc="sum")
Mid_Position.plot.bar()

In [ ]:
#The third plot is a grouped bar chart for Defenders. Positions (LB, RB, CB)

Defender_Position=Nationality[(Nationality["BestPosition"] == "LB") | (Nationality["BestPosition"] == "RB") | (Nationality["BestPosition"] == "CB")].copy()
Defender_Position["Count"]=1
Defender_Position=pd.pivot_table(Defender_Position,values="Count",index=['Nationality'], columns = 'BestPosition',aggfunc="sum")
Defender_Position.plot.bar()

In [ ]:
# The fourth plot is a grouped bar chart except instead of grouping by position, we will group by forwards, midfielders, and defenders.
Defender_Position["Defenders"]=Defender_Position.sum(axis=1)
Mid_Position["Midfielders"]=Mid_Position.sum(axis=1)
Forward_Position["Forward"]=Forward_Position.sum(axis=1)
result = pd.concat([Forward_Position["Forward"], Mid_Position["Midfielders"],Defender_Position["Defenders"]], axis=1, join='inner')
result.plot.bar()